.git
.github
node_modules
vendor
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/app/public
public/build
.env
.env.*
database/database.sqlite
npm-debug.log
yarn-error.log
